body{
    padding: 0;
    margin: 0;
}

.page-container {
    padding-top: 80px; /* Header yüksekliğine göre ayarlayın */
  }
  


.flex-row{
    display: flex;
    flex-direction: raw;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#root{
    height: 100vh;
}